* {
    padding: 0; margin: 0;
    box-sizing: border-box;
}

body {
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    background-color: white;
    padding: 1rem;
    border: 2px solid black;
}
#insert {
    display: flex;
    gap: 2rem;
}
.key {
    background-color: white;
    padding: 1rem;
    border: 2px solid black;
    padding: 2rem 5rem;
    position: relative;
    width: 100%;
    font-size: 1.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.key small {
    position: absolute;
    top: -24px;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
}